<% include partials/header %>

<h1>This is the show template</h1>

<p> <%= hotel.name %> </p>

<img src="<%= hotel.image %>">
<p><%= hotel.description %></p>

<% hotel.commentaires.forEach(function(commentaire){ %>
	<p><strong><%= commentaire.author %></strong> - <%= commentaire.text %></p>
<% }) %>

<% include partials/footer %>